
<mat-toolbar class="tbar">
  <mat-toolbar-row class="tbarrow">
      <img src="/assets/images/WhiteLogo.png" class="img-fluid"/>
      <span class="appspacer"></span>
      <img src="/assets/images/Appname.png" class="img-fluid"/>
    <span class="spacer"></span>
    <img src="/assets/images/Bookopen.png" class="img-fluid"/>
    <img src="/assets/images/Download.png" class="img-fluid" style="margin-left: 2%"/>
    <img src="/assets/images/User.png" class="img-fluid" style="margin-left: 2%"/>
  </mat-toolbar-row>

</mat-toolbar>