<mat-card class="login">
    <mat-card-header class="loginheader">
      
      <mat-card-title>Login</mat-card-title>
      </mat-card-header>
    
    <mat-card-content>
     <form class="form">
       <div>
          <input matInput class="form-group"/>
       </div>
        <div>
            <input matInput class="form-group"/>

        </div>
       
     </form>
    </mat-card-content>
    <mat-card-actions style="padding-left: 15px;">
      <button mat-button>Submit</button>
      
    </mat-card-actions>
  </mat-card>