<div style="padding-top: 5%;">
<mat-card class="login">
    <mat-card-header class="loginheader">
      
      <mat-card-title>Login</mat-card-title>
      </mat-card-header>
    
    <mat-card-content class="cardform">
     <form class="form" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
       <div  class="form-group">
          Enter Username
          <input matInput class="form-control" formControlName="username"/>
       </div>
        <div  class="form-group">
          Enter password
            <input matInput class="form-control" formControlName="userpwd"/>

        </div>
       
     </form>
    </mat-card-content>
    <mat-card-actions style="padding-left: 15px;">
      <button class="btn btn-info" (click)="onSubmit()">Submit</button>
      
    </mat-card-actions>
  </mat-card>
</div>