<div class="main">
    
  <img #rectImg src="assets/images/Rectangle.png"  class="rectangle  img-fluid"/>
  <img #exitImg src="assets/images/Exit.png" (mousedown)="onMouseDown($event)" (mousemove)="onMouseMove($event)" (mouseup)="onMouseUp($event)"
   class="exit  img-fluid" id="exitImg" (touchend)="onTouchEnd($event)" (touchstart)="onTouchStart($event)" (touchmove)="onTouchMove($event)"  draggable="false"/>
  <img #gwcImg src="assets/images/GWC.png" (touchend)="onTouchEnd($event)" (touchstart)="onTouchStart($event)" (touchmove)="onTouchMove($event)" class="gwc  img-fluid" id="gwcImg"  (mousedown)="onMouseDown($event)" (mousemove)="onMouseMove($event)" (mouseup)="onMouseUp($event)" draggable="false"/>

  <img #rwcImg src="assets/images/RWC.png" (touchend)="onTouchEnd($event)" (touchstart)="onTouchStart($event)" (touchmove)="onTouchMove($event)" id="rwcImg  img-fluid"  class="rwc"  (mousedown)="onMouseDown($event)" (mousemove)="onMouseMove($event)" (mouseup)="onMouseUp($event)" draggable="false"/>
  <img src="assets/images/SRectangle.png" class="smallrectangleleft  img-fluid" />
  <img src="assets/images/SRectangle.png" class="smallrectangleright  img-fluid" />
  <img src="assets/images/Connector.png" class="connector  img-fluid" />

</div>